.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.components-container{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 500px;
  height: 500px;
  background-color: lightblue;
  align-self: center;
  justify-self: center;
  justify-content: center;
}
.component-links{
  width: 90%;
  height: 100px;
  background-color: grey;
  align-self: center;
}
